venv/
*/__pycache__/
*png
*bam
*bai
*bed
*cram
*fa
*fai
*ipynb
*txt
*gz
*sh
*csv
*tsv
slurm*.out
Snakefile
.snakemake/
config/
results/
*.fa
*fna
HLA-LA/
log/

!requirements.txt
!tests/*.bam
!tests/*.bam.bai
!examples/*.bed