# Virtual environment and cache
venv/
*/__pycache__/

# Common files
*png
*bam
*bai
*bed
*cram
*fa
*fai
*.fa
*fna
*txt
*gz
*csv
*tsv
!requirements.txt

# Scripts and notebooks
*ipynb
*sh

# Pipeline files
Snakefile
.snakemake/
config/
results/
HLA-LA/
slurm*.out

# Directories
log/
benchmarks/
!benchmarks/*.sh
!publication/*.sh

# Test files
!tests/*.bam
!tests/*.bam.bai