# Virtual environment and cache
venv/
*/__pycache__/
.pytest_cache/
.cursor/

# Common files
*png
*bam
*bai
*bed
*cram
*fa
*fai
*.fa
*fna
*txt
*gz
*csv
*tsv
*egg-info/
!requirements.txt

# Scripts and notebooks
*ipynb
*sh

# Pipeline files
Snakefile
.snakemake/
config/
results/

# HLA-LA
HLA-LA/

# HPC
slurm*.out

# Directories
log/
!benchmarks/*.sh
!publication/*.sh

# Test files
!tests/*.bam
!tests/*.bam.bai